body {
	/*background-color: #81C784;*/
	background: url('file:///Users/BigTex/Desktop/IMG_1531.jpg');
	background-position: top;
	

}

h1 {
  color: #FFF;
  font-weight: 100;
  font-size: 48px;
  text-align: center;
  font-family: 'Roboto', sans-serif;


}

.first, .second {
  color: #FFF;
  font-size: 25px;
  font-family: 'Chewy', cursive;
  font-weight: 3px;
  /*letter-spacing: 3px;*/
  padding-left: 75px;
  padding-right: 75px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.container {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 999;
  left: 350px;

}

img { 
  position: relative;
  border-radius: 50%;

}
	
.bottomleft {
	display: block;
	font-family: 'Titan One', cursive;
	position: absolute;
	top:290px;
	bottom: 10px;
	left: 156px;
	letter-spacing: 3px;
	background-color: rgba(180, 187, 184, 0.7);
	font-style: normal;
	z-index: 1000;
	padding: 3px;
	border-radius: 8px;

}
a {
	text-decoration: none;
}

a:link {
	color: red;
}
a:visited {
	color: white;
}