body {
	background-color: #81C784;
	font-family: 'Roboto', sans-serif;

}

h1 {
  color: #FFF;
  font-weight: 100;
  font-size: 48px;
  text-align: center;


}

p {
  color: #FFF;
  font-style: italic;
  font-size: 18px;
}

.image {
  /* background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  z-index: 999;

}

.caption {
	background-color: rgba(76, 175, 80, 0.7);
	position: relative;
	font-style: normal;
	display: inline-block;
	float: left;
	z-index: 1000;


}